*.jpg
*.exe
*.xlsx
*.csv
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.idxs
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.listing
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.hd
# exclude pdfs
*.pdf
# exceptions
!test-hiero-01.pdf
*.gz
*.gif
*.xcf
*.php
*.gz(busy)
*.db
*.mw
# Symlinks in Windows
*.lnk
/graphics
/xetex
/images-01
/images
/voss
/waterhammer
/chapter01
*.mtc**
*.listing
*.bib.bak
*.tmp
tugboat.bib
# html
*.html
# files such as _minted
_*
untitled**
*.bcf
ylbox.dtx
/misc
#biblatex
*run.xml
/water-hammer
/various
/mep
*.mws
*.tcbtemp
*-blx.bib