*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.idxs
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.listing
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.hd
*.pdf
*.gz
*.gif
*.xcf
*.php
*.gz(busy)
*.db
# Symlinks in Windows
*.lnk
/graphics
/xetex
/images-01
/images
*.mtc**
*.listing
*.bib.bak
*.tmp
tugboat.bib

