local err, warn, info, log = luatexbase.provides_module({
     _name      = 'dice',
     _date       = '2014/11/01',
     _version   = '0.0',
     _description = 'simulating a die',
     _author      = 'Y Lazarides',
     _license      =  'LPPL v1.3+' ,
})

local dice =  {}    -- is this better to be local?

function dice.txprint()
    return 'dice'
end

return dice         -- return the table returns {}
